/* -------custom properties---------- */
 * { 
    /* variables para todo el documento */
    
    box-sizing: border-box;
}
/* --------reset styles------------ */
  body {
    
    background-image: url(img/fondo.jpg);
    background-repeat: repeat;
    background-size: cover;
  }

  main {
   
     margin-top: 3rem ;
    margin-left: -5px;
    
    
    
  }
  

/* -------Boostrap styles------------- */
.bi-telephone-fill {
  width: 20px;
  height: 20px;
}
 #collapseTwo.mostrarDiv {
  display: none;
 }
 .btn-outline-secondary {
  --bs-btn-color: #000000;
  --bs-btn-border-color: #ff000000;
  --bs-btn-hover-color: #484545;
  --bs-btn-hover-bg: background: linear-gradient(90deg, rgba(234,236,198,1) 0%, rgba(43,192,228,1) 100%);
  --bs-btn-hover-border-color: background: linear-gradient(90deg, rgba(234,236,198,1) 0%, rgba(43,192,228,1) 100%);
  --bs-btn-focus-shadow-rgb: 108, 117, 125;
  --bs-btn-active-color: #111112;
  --bs-btn-active-bg: background: linear-gradient(90deg, rgba(234,236,198,1) 0%, rgba(43,192,228,1) 100%);
  --bs-btn-active-border-color: #fa0a0a;
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bs-btn-disabled-color: #74a8d7;
  --bs-btn-disabled-bg: transparent;
  --bs-btn-disabled-border-color: #ff1373;
  --bs-gradient: none;
}
.btn {
  --bs-btn-border-width: transparent;
}
.bi {
  font-size: x-large;
  border-radius: 40%;
  color: rgb(245, 251, 251);
}
.bi-paperclip {
  color: #000000;
}
.modal-header {
  background: rgb(43,192,228);
background: linear-gradient(182deg, rgba(43,192,228,1) 0%, rgba(234,236,198,1) 100%);
}
.modal-body {
  background: rgb(43,192,228);
background: linear-gradient(352deg, rgba(43,192,228,1) 0%, rgba(234,236,198,1) 100%);
font-family: monospace;

}
.modal-footer { 
  background: rgb(43,192,228);
  background: linear-gradient(359deg, rgba(43,192,228,1) 0%, rgba(234,236,198,1) 100%);
}

/* ------my styles--------------------- */
  .foto {
    border-radius: 50%;
    margin-top: 2rem ;
  }
  .foto-2 {
    margin-left: 30%;
    border-radius: 50%;
    margin-bottom: 5%;

  }
  .contendor-h3-modals {
    border-bottom: 1px solid black;
    margin-bottom: 3%;
  }
  .h3modals {
    display: inline-block;
    margin-left: 5%;
   
}
  .nombre {
    /* font-family: 'Roboto', sans-serif; */
    font-family: 'Dancing Script', cursive;
    font-weight: 700;
    font-size: 23px;
    border-bottom: 2px solid;
    display: inline-block;
    margin-bottom: 2rem;
    margin-top: 1rem;
  }
  #section1 {
    background: rgb(234,236,198);
    background: linear-gradient(90deg, rgba(234,236,198,1) 0%, rgba(43,192,228,1) 100%);
  }
  #section2{
    color: #f8f6f6;
    font-size: 20px;
    font-style: oblique;
    font-weight: 900;
    word-break: break-all;
    text-align: start;
    background: rgb(67,198,172);
    background: linear-gradient(90deg, rgba(67,198,172) 0%, rgba(25,22,84,1) 100%);
  }

  #section3{
    color: #484747;
    font-style: oblique;
    font-weight: 900;
    background: #2bc0e4;
    
    background: linear-gradient(90deg, rgba(43,192,228,1) 0%, rgba(234,236,198,1) 100%);
  }
  #section4{
    background: rgb(43,192,228);
    background: linear-gradient(90deg, rgba(43,192,228,1) 0%, rgba(234,236,198,1) 100%);
  }
  .mi-card ,.card2,.card3 {
    background-color: black;
    margin-bottom: 20px;
    color: azure;
  }
  .ol-menu {
    text-align: start;
    list-style: disc;
    margin-left: 8%;
    
  }
  .formacion {
    margin-left: 1%;
  }
   li::marker {
    color: #2bc0e4;
   }
  .fecha {
    padding: 0;
    padding-left: 10px;
    text-align: initial;
    border-bottom: 1px dotted;
    border-bottom-color: aqua;
    color: aqua;
  }
  .puesto {
    padding: 0;
    text-align: center;
  }
  .lugar {
    text-align: left;
    padding-left: 2%;
  }
/* ---------------------------------------------------------------------- */
/* // X-Small devices (portrait phones, less than 576px)
// No media query for `xs` since this is the default in Bootstrap */

 /* // Small devices (landscape phones, 576px and up) */

 /* // Small devices (landscape phones, 576px and up) */
 @media (max-width: 360px) {
  .foto-2 {
    margin-left: 21%;
 }
 .h3modals {
  margin-left: 2%;
  
  display: inline-block;
}
.col-10 {
 
    flex: 0 0 auto;
    width: 83.333333%;
    font-size: small;

 }
 }
@media (min-width: 576px) {

}

/* // Medium devices (tablets, 768px and up) */
 @media (min-width: 768px) { 
  
  } 
 
 @media (max-width: 768px) {
  
   } 
 
/* // Large devices (desktops, 992px and up) */
 @media (min-width: 992px) { 
   
   
  } 

/* // X-Large devices (large desktops, 1200px and up) */
 @media (min-width: 1200px) { 
   .container {
    max-width: 770px;
   }
    
  } 
 
/* // XX-Large devices (larger desktops, 1400px and up) */
 @media (min-width: 1400px) { 
  
  } 

 /*------- Breakpoint	Class infix	Dimensions----------------
 Extra small	    None	<576px
 Small	             sm	    ≥576px
 Medium	             md	    ≥768px
 Large	             lg  	≥992px
 Extra large	     xl	    ≥1200px
 Extra extra large	 xxl	≥1400px */






.x {
    font-family: 'Rubik', sans-serif;
    font-weight:400 ;
    font-style: italic;
}
.space::after {
    content: '\A\A';
    white-space: pre;
  }
  .fuera {
    display: none;
  }
  .ver {
    display: inline-flex;
  }

  .accordion-button .collapsed .fuera {
    display: none;
  }
  .colorss {
      background-color: blue;
  }

  .colorsss {
    background-color: rgb(255, 34, 0);
}

  /* -tootip */
  /* <div id="tooltip"> */
  #tooltip {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    cursor: pointer;
    font-weight: bold;
    padding: 7px;
  }
  /*  <span id="tooltiptext"> mas infomacion sobre mi</span> */
  #tooltiptext {
    position: absolute;
    left: 50%;
    top: 0;
    transform: translateX(-50%);
    background-color: rgb(16, 200, 200);
    color: #fbfbfb;
    white-space: nowrap;
    padding: 5px 10px;
    border-radius: 7px;
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.5s ease;
  }
  #tooltiptext::before {
    content:"" ;
    position: absolute;
    left: 35%;
    top: 100%;
   
    transform: translateX(-50%);
    border: 15px solid;
    border-left: 5px solid;
    border-right: 5px solid;
    border-color:rgb(16, 200, 200)  transparent transparent rgb(16, 200, 200) ;

  }
  #tooltip:hover #tooltiptext {
    top: -190%;
    visibility: visible;
    opacity: 1;
  }

   